@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.don {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.don div {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  width: 33%;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
}
